@import "tailwindcss";

@theme {
  /* Dark mode */

  --bg-dark: oklch(0.1 0 340);
  --bg: oklch(0.15 0 340);
  --bg-light: oklch(0.2 0 340);
  --text: oklch(0.96 0 340);
  --text-muted: oklch(0.76 0 340);
  --highlight: oklch(0.5 0 340);
  --border: oklch(0.4 0 340);
  --border-muted: oklch(0.3 0 340);
  --primary: oklch(0.76 0.1 340);
  --secondary: oklch(0.76 0.1 160);
  --danger: oklch(0.7 0.05 30);
  --warning: oklch(0.7 0.05 100);
  --success: oklch(0.7 0.05 160);
  --info: oklch(0.7 0.05 260);

  /* Light mode */

  --bg-xdark: oklch(0.88 0 340);
  --bg-dark: oklch(0.92 0 340);
  --bg: oklch(0.96 0 340);
  --bg-light: oklch(1 0 340);
  --text: oklch(0.15 0 340);
  --text-muted: oklch(0.4 0 340);
  --highlight: oklch(1 0 340);
  --border: oklch(0.6 0 340);
  --border-muted: oklch(0.7 0 340);
  --primary: oklch(0.4 0.1 340);
  --secondary: oklch(0.4 0.1 160);
  --danger: oklch(0.5 0.05 30);
  --warning: oklch(0.5 0.05 100);
  --success: oklch(0.5 0.05 160);
  --info: oklch(0.5 0.05 260);

  --navfoot: oklch(0.1 0 340);
  --navfoottext: oklch(0.96 0 340);
}

.title {
  @apply mt-5 sm:mt-10 md:mt-16 text-4xl sm:text-5xl md:text-6xl;
}

.card {
  @apply flex-1
          w-80
          h-64 
          p-2
          m-1

          relative
          
          shadow
          rounded-2xl
          bg-(--bg)
          /*bg-linear-to-b from-(--bg) to-(--bg-light)*/
          border-t-2
          border-t-(--highlight)
          border-b-2
          border-b-(--border-muted)
          
 
          transition-shadow
          duration-300
          hover:shadow-lg
          hover:bg-linear-to-b from-(--bg-light) to-(--bg);
}

:root {
  /*Variable*/

  line-height: 1rem;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg);
  color: var(--text);

  margin: 0;

  min-width: 320px;
  min-height: 100vh;
}

#root {
  font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial,
    Sans-serif;
  text-align: center;
  height: auto;
  min-height: 100vh;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
